{% extends "layout.html" %}{% block title %}Add Post{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12 col-xlg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">People you follow:</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-xlg-8 col-md-8 col-sm-8">
                        <p>1. <a>User1</a></p>
                    </div>
                    <div class="col-lg-4 col-xlg-4 col-md-4 col-sm-4">
                        <button class="btn btn-outline-primary">Unfollow</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-xlg-8 col-md-8 col-sm-8">
                        <p>2. User2</p>
                    </div>
                    <div class="col-lg-4 col-xlg-4 col-md-4 col-sm-4">
                        <button class="btn btn-primary">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}